{{page-title "Item"}}



<div class="card" style="width: 500px;">
    <div class="card-body">
        <h4 class="d-inline-block card-title">Name : {{this.model.name}}</h4>
        <button class="btn-sm float-right" {{action "editRate"}}>Edit</button>
        <p class="card-text">Brand : {{this.model.brand}}</p>
        <p class="card-text">Rate : {{this.model.rate}}</p>
        
        {{#if this.editRateValue}}
            <Input @type="text" @value={{this.newRate}}/>
            <button class="btn-sm" {{action 'editRecord' this.model.id}}>Save</button>
            <button class="btn-sm" {{action 'close'}}>x</button>
        {{/if}}  
           
        <p class="card-text">Released on : {{this.model.released}}</p>

        
           
    </div>
</div>