{{page-title "Item"}}


<div class="card" style="width: 500px;">
    <div class="card-body">
        <h3 class="card-title">Name : {{this.model.name}}</h3>
        <p class="card-text">Brand : {{this.model.brand}}</p>
        <p class="card-text">Rate : {{this.model.rate}}</p>
        <p class="card-text">Released : {{this.model.released}}</p>
    </div>
</div>
