{{page-title "AddItem"}}



<form id="form">
    <label>Name</label>
    <Input @type="text" @value={{this.name}}/>
    <br><br>
    <label>Brand : </label>
    <select name="brandName" onchange={{action (mut this.selectedbrand) value='target.value'}}>
    {{#each this.brand as |brand|}}
        <option>{{brand}}</option>
    {{/each}}
    </select>
    <br><br>
    <label>Rate : </label>
    <Input @type="text" @value={{this.rate}}/>
    <br><br>
    <label>Released on : </label>
    <Input @type="text" @value = {{this.released}}/>
    <br><br>
  <button class="btn" {{action 'addRecord'}}>Add</button>
  
</form>