{{page-title "Items"}}
{{log this.model}}

<div class="container d-flex justify-content-around">
    <div class="card" style="width: 300px;">
        <div class="card-body">
           {{#if @model.length}}
            <h3 class="card-title">List of Products</h3>
            {{#each @model as |item|}}
           
                <div class="card-text">
                    <div id="link">
                      <LinkTo @route="items.item" @model={{item.id}}>{{item.name}}</LinkTo>
                    </div>
                  {{log item.id}}
                  <button class="btn-sm float-right" onclick={{action this.deleteRecord item.id}}>Delete</button>
                </div>
            {{/each}}
            {{else}}
              <h3>No products</h3>
            {{/if}}
        </div>
    </div>
    <div class="ml-5">
        {{outlet}}
    </div>
</div>